---
import { getCollection } from 'astro:content';
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';
import { AstroSeo } from '@astrolib/seo';
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<head>
  <title>{entry.data.title}</title>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@dxmentorship" />
  <meta name="twitter:creator" content="@dxmentorship" />
  <meta name="twitter:title" content={entry.data.title} />
  <meta name="twitter:description" content={entry.data.description} />
  <meta
    name="twitter:image"
    content="https://res.cloudinary.com/kennyy/image/upload/v1700753699/annoucement_ruaujd.png"
  />
  <meta property="og:url" content="https://www.dxmentorship.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content={entry.data.title} />
  <meta property="og:description" content={entry.data.description} />
  <meta
    property="og:image"
    content="https://res.cloudinary.com/kennyy/image/upload/v1700753699/annoucement_ruaujd.png"
  />
</head>

<AstroSeo
  title={entry.data.title}
  description={entry.data.description}
  canonical="https://www.dxmentorship.com"
  openGraph={{
    url: 'https://www.dxmentorship.com',
    title: entry.data.title,
    description: entry.data.description,
    images: [
      {
        url: entry.data.image.url,
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: entry.data.image.url,
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: entry.data.image.url },
      { url: entry.data.image.url },
    ],
    site_name: 'DXMentorship',
  }}
  twitter={{
    handle: '@dxmentorship',
    site: '@dxmentorship',
    cardType: 'summary_large_image',
  }}
/>
<MarkdownPostLayout frontmatter={entry.data}>
  <Content />
</MarkdownPostLayout>
