---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { AstroSeo } from '@astrolib/seo';
export async function getStaticPaths() {
  const blogEntries = await getCollection('alumni');

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<AstroSeo
  title={entry.data.name + ' - DXMentorship'}
  description={entry.data.name + ' is a mentee in the DXMentorship program.'}
  canonical="https://www.dxmentorship.com"
  openGraph={{
    url: 'https://www.dxmentorship.com',
    title: entry.data.name + ' - DXMentorship',
    description: entry.data.body,
    images: [
      {
        url: entry.data.image,
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: entry.data.image,
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: entry.data.image },
      { url: entry.data.image },
    ],
    site_name: 'DXMentorship',
  }}
  twitter={{
    handle: '@dxmentorship',
    site: '@site',
    cardType: 'summary_large_image',
  }}
/>
<BaseLayout>
  <div class="relative bg-white">
    <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
      <div class="lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0">
        <div class="w-full bg-gray-50 object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full">
          <div class="flex items-center justify-center h-full">
            <img class="w-1/2 mt-32 h-auto rounded-md shadow-lg object-cover" src={entry.data.image} alt="" />
          </div>
        </div>
      </div>
      <div
        class="px-6 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-56 lg:pt-48 xl:col-span-6 lg:flex lg:flex-row-reverse"
      >
        <div class="mx-auto max-w-2xl lg:mx-0">
          <div class="hidden sm:mt-32 sm:flex lg:mt-16">
            <div
              class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
            >
              Follow {entry.data.name} on social media <a
                href={entry.data.twitter}
                class="whitespace-nowrap font-semibold text-vulcan-800"
                ><span class="absolute inset-0" aria-hidden="true"></span> Twitter <span aria-hidden="true">&rarr;</span
                ></a
              >
            </div>
          </div>
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 sm:text-6xl">
            {entry.data.name}
          </h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            <Content />
          </p>
          <!-- use the graident of colors associated with each social media platform -->
          <div class="mt-10 flex items-center gap-x-3">
            <a
              href={entry.data.github}
              class="rounded-md bg-vulcan-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-vulcan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-vulcan-600"
              >Github</a
            >
            {
              entry.data.linkedin && (
                <a
                  href={entry.data.linkedin}
                  class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 "
                >
                  Linkedin
                </a>
              )
            }
            {
              entry.data.website && (
                <a
                  href={entry.data.website}
                  class="rounded-md bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
                >
                  Website
                </a>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
