---
const { title, url, description, name, image } = Astro.props;
---

<li class="group border bg-vulcan-800 border-white/5 overflow-hidden rounded-3xl shadow-vulcan-950 shadow-2xl">
  <a href={url} title={title}>
    <div class="flex items-end shadow-2xl shadow-vulcan-950 justify-center overflow-hidden rounded-t-3xl">
        <img class="group-hover:scale-110 duration-300 h-72 w-full object-cover rounded-t-3xl" loading="lazy" src={image} alt={title} />

    </div>
  </a>
  <div class="p-8">
    <h3 class="mt-5 text-lg font-medium leading-6 text-white">
      {name}
    </h3>
    <p class="mt-2 text-base text-vulcan-300 line-clamp-1">
      {title}
    </p>
  </div>
</li>
