---
let mentors = [
  {
    id: 2,
    name: 'Tejas Kumar',
    image: '/assets/tejas.jpeg',
    title: 'Code Podcaster and Best-Selling Author',
    company: 'Datastax',
    url: 'https://twitter.com/TejasKumar_',
  },
  {
    id: 3,
    name: 'Salma Alam-Naylor',
    image: '/assets/salma.jpeg',
    title: 'Software Engineer and Developer Educator',
    company: 'Sentry',
    url: 'https://twitter.com/whitep4nth3r',
  },
  {
    id: 1,
    name: 'Domitrius Clark',
    image: '/assets/dom.jpeg',
    title: 'Developer Relations Leader & Software Engineer',
    company: 'Prem pulls',
    url: 'https://twitter.com/domitriusclark',
  },
  // { id: 4, name: 'Ekene', image: '/assets/ekene.jpg', title: '', company:'', url: 'https://twitter.com/kenny_io' },
];
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative space-y-24 lg:pt-4">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <p class="mt-32 text-3xl font-normal tracking-tight text-white">Meet some of our past presenters</p>
        <p class="text-base mt-2 text-vulcan-300 max-w-md mx-auto">
          These wonderful people have shared their knowledge with us and helped our mentees skill up. We are grateful
          for their time and effort.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-2 lg:text-center gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24">
      {
        mentors.map((mentor) => (
          <a
            target="_blank"
            href={`${mentor.url}`}
            class="hover:shadow-xl duration-200 bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900"
          >
            <div class="bg-vulcan-900 overflow-hidden h-full w-full rounded-3xl flex flex-col justify-center">
              <img
                class="w-full h-500 group-hover:scale-110 duration-300"
                loading="lazy"
                src={mentor.image}
                alt={mentor.name}
              />
              <p class="text-white text-2xl font-bold">{mentor.name}</p>

              <p class="text-white text-sm font-medium mt-1 pl-3 pr-3">=> {mentor.title}</p>

              <p class="text-indigo-300 text-xs mt-1 pl-3 pr-3 font-bold">{mentor.company}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
