---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import { AstroSeo } from '@astrolib/seo';
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: 'https://www.lexingtonthemes.com',
    title: 'Title',
    description: 'Description',
    images: [
      {
        url: 'https://www.lexingtonthemes.com/opengraph/social-og.jpg',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: 'https://www.lexingtonthemes.com/opengraph/twitter-og.jpg',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: 'https://www.lexingtonthemes.com/opengraph/social-og.jpg' },
      { url: 'https://www.lexingtonthemes.com/opengraph/twitter-og.jpg' },
    ],
    site_name: 'YourSitesName',
  }}
  twitter={{
    handle: '@TwitterHandle',
    site: '@site',
    cardType: 'summary_large_image',
  }}
/>
<BaseLayout>
  <section class="relative overflow-x-hidden">
    <svg
      class="absolute blur-3xl right-0 top-0 opacity-80"
      width="50%"
      height="100%"
      viewBox="0 0 400 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_17_60)">
        <g filter="url(#filter0_f_17_60)">
          <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
          <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"></path>
          <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
          <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
        </g>
      </g>
      <defs>
        <filter
          id="filter0_f_17_60"
          x="-159.933"
          y="-159.933"
          width="719.867"
          height="719.867"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feGaussianBlur stdDeviation="79.9667" result="effect1_foregroundBlur_17_60"></feGaussianBlur>
        </filter>
      </defs>
    </svg>
    <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-32 lg:pt-56">
      <div class="max-w-3xl">
        <div class="items-center inline-flex space-x-1 w-full">
          <p class="font-medium text-white text-sm">
            Written by: {frontmatter.author}
          </p>
          <span aria-hidden="true">·</span>
          <time class="flex text-vulcan-300 text-sm" datetime={frontmatter.pubDate.toString().slice(0, 10)}
            >{frontmatter.pubDate.toString().slice(0, 10)}</time
          >
        </div>
        <p class="text-4xl mt-4 font-normal tracking-tighter text-white">
          {frontmatter.title}
        </p>
        <p class="mt-2 text-base text-vulcan-300">{frontmatter.description}</p>
        <ul class="flex flex-wrap gap-2 mt-12" role="list">
          {
            frontmatter.tags.map((tag) => (
              <a href={`/tags/${tag}`}>
                {' '}
                <li class=" flex items-center justify-center h-8 text-xs px-4 py-2 font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700">
                  {tag}
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
  <section class="relative">
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
      <div class="grid grid-cols-1 gap-10 xl:gap-24">
        <div>
          <div
            class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70"
          >
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
